
/*  */
/* struggling to align all elements to the centre correctly (guessing its multiple margin and padding codes conflicting)  */
body {
    background-color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;

}
/*  */
header {
    display: flex;
    justify-content: center;
    font-size: 80px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 20px;
    margin-top: 50px;
}
/*  */
p {
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
}
/*  */
nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 5px;
}
/*  */
/* nav>button {
    float: none;
    display: flex;
    gap: 100px;
} */
/*  */
.nav-link {
    float: none;
    display: flex;
    gap: 100px;
    list-style: none;
    /* border: 2px white; */
    /* margin: 10px 10px; */
    /* padding: 10px 10px; */
}
/* search bar */
 /* #searchbar {
    display: flex;
    justify-content: center;
     width: 100%; 
    color: white;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;   
 }   */
/* .nav-link:hover {
    color: red;
} */
/*  */

/* struggling to make nav buttons change color once they use a link */
.btn:hover {
    color: red;
}
/*  */
a {
    text-decoration: none;
    color: white;
}
/*  */
.day-counter-text {
    padding: 0px;
    display: flex;
    margin: 0px;
}
.release-date-counter {
    padding: 0px;
    display: flex;
    margin: 0px;
}
/*  */
main {
    display: flex;
    justify-content: center;
    color: white;
}
/*  */
/* .grid-item {} */
/*  */
h1 {
    display: flex;
    justify-content: center;
}
/*  */
img {
    height: 400px;
    width: 400px;
    padding: 1px;
    /* couldnt add border until i added "solid" before color */
    border: 2px solid red;
    margin: 50px;
    display: grid;
    justify-content: center;
    
}
/*  */
img:hover {
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3);
    
}
/*  */
/* .image-text {
    display: none;
} */
/* .grid-item:hover + .image-text {
    display: block;
    color: white;
} */
/*  */
.btn {
    display: flex;
    justify-content: center;
    padding: 5px 50px;
    margin: 5px 0px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
    border: 0px;
    font-size: 18px;

}
/*  */
.btn.hover {
    color: red;
}
/*  */
footer {
    display: flex;
    justify-content: center;
    padding: 5px 0px;
    margin-bottom: 40px;
    height: 50px;
    width: 100%;
    gap: 200px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
 /*  */
a:hover {
    color: red;
}
/*  */
a {
    text-decoration: none;
    color: white;

}
/*  */
@media screen and (max-width: 700px) {
    .main {
        flex-direction: column;
    } 
}
